*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background:coral;
    color: #fff;
}
h1{
    text-align: center;
    margin:32px 0;
    font-size: 16px;
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: 32px auto;  
}

.container{
    background:#34495e;
    color: #111;
    margin: 16px 0;
    border-radius: 5px;
}
.title{
    padding: 8px 48px 16px;
    min-height: 48px;
    /* line-height: 1.25rem; */
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.title::after{
    content: "\002B";
    font-size: 32px;
    position: absolute;
    right: 16px;
}
.title.active::after{
    content: "\2212";
}
.content-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.content{
    padding: 16px;
    /* line-height: 1px; */
    border-top: 1px solid coral;
}
@media(max-width:767px){
html{
    font-size: 14px;
}
}

















